@import "../styles/colors";

.result {
  //   width: 85%;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  text-align: center;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 65px;
  grid-template-areas:
    "column1 column2"
    "verdict verdict";

  @media (min-width: 992px) {
    position: relative;
    margin: auto 2rem;
    top: unset;
    left: unset;
    transform: unset;
    grid-template-areas: "column1 verdict column2";
    align-items: center;
  }

  .column {
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    @media (min-width: 992px) {
      flex-direction: column-reverse;
    }

    .circle {
      width: 30vw;
      height: 30vw;
      max-width: 220px;
      max-height: 220px;
      background: #141639;
      opacity: 0.4;
      border-radius: 50%;
      margin: auto 0;
      position: absolute;
      top: 5%;

      @media (min-width: 992px) {
        top: unset;
        bottom: 8%;
      }

      .counter-number {
        color: $white;
        font-size: 3.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
      }
      .three {
        animation: number-animation 1.2s;
      }

      .two {
        animation: number-animation 1.2s;
        animation-delay: 0.8s;
      }

      .one {
        animation: number-animation 1.2s;
        animation-delay: 1.8s;
      }

      @keyframes number-animation {
        from {
          opacity: 1;
          font-size: 4rem;
        }
        to {
          opacity: 0;
          font-size: 0;
        }
      }
    }

    h3 {
      color: $white;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 1rem;
      padding-top: 25px;
      margin-top: auto;
      font-weight: 600;
      z-index: 100;

      @media (min-width: 600px) {
        font-size: 1.25rem;
      }

      @media (min-width: 992px) {
        font-size: 1.5rem;
        padding-bottom: 65px;
        padding-top: 0;
        margin-top: unset;
      }
    }

    .btn {
      position: relative;
      pointer-events: none;
      max-width: 290px;
      max-height: 290px;

      &::before {
        max-width: 225px;
        max-height: 225px;
      }

      &::after {
        max-width: 225px;
        max-height: 218px;

        @media (min-width: 992px) {
          transform: translate(-50%, calc(-50% + 7px));
        }
      }
    }

    .win {
      transition: 1s box-shadow;
      box-shadow: 0px 0px 0px 15px #2d3c5bb9,
        0px 0px 0px 35px rgba(45, 60, 91, 0.424),
        0px 0px 0px 55px rgba(45, 60, 91, 0.287);

      @media (min-width: 992px) {
        box-shadow: 0px 0px 0px 50px #2d3c5bb9,
          0px 0px 0px 100px rgba(45, 60, 91, 0.424),
          0px 0px 0px 170px rgba(45, 60, 91, 0.287);
      }
    }

    .house-btn {
      animation: house-animation 2.5s ease-in;
    }

    @keyframes house-animation {
      0% {
        opacity: 0;
      }

      90% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }

  .verdict {
    grid-area: verdict;
    text-transform: uppercase;
    animation: verdict-animation 1s;
    animation-delay: 2.25s;
    visibility: hidden;
    position: relative;
    z-index: 100;

    @media (min-width: 992px) {
      display: none;
      animation-delay: 0s;
    }

    h2 {
      color: $white;
      font-size: 3.2rem;
      margin-bottom: 15px;
      letter-spacing: 1px;
    }

    .playAgainBtn {
      background: $white;
      border: none;
      padding: 16px 60px;
      border-radius: 7px;
      text-transform: uppercase;
      font-size: 0.9rem;
      font-weight: 600;
      cursor: pointer;
      transition: color 0.2s;

      &:hover,
      &:active {
        color: hsl(349, 73%, 51%);
      }
    }
  }

  @keyframes verdict-animation {
    from {
      opacity: 0;
      transform: translateY(50%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
